<div class="w-full flex justify-content-center mt-8" *ngIf="!loading">
    <div class="w-8 md:w-6 lg:w-6 xl:6-6 flex flex-column gap-4">
        <div class="gap-1 w-full flex flex-column-reverse md:flex-row lg:flex-row xl:flex-row justify-content-between " style="word-wrap: break-word !important; overflow-wrap: break-word !important;">
            <div class="w-full flex justify-content-start align-content-center text-center md:text-left lg:text-left xl:text-left" >
                <!-- <span  class="poppins-bold  font-bold lg:text-6xl md:text-4xl text-2xl text-gray-500">Connectez-vous <br class="hidden md:block"> pour accéder <br class="hidden md:hidden lg:block "> à votre compte</span> -->
                <span class="poppins-bold  font-bold lg:text-6xl md:text-4xl text-2xl text-gray-500"> {{ "landing_log_in_to_access_account" | translate }}</span>
            </div>
            <div class="w-ful flex md:justify-content-end lg:justify-content-end xl:justify-content-end justify-content-center align-items-center">
                <p-image src="assets/image/cend_logo.png" alt="Image" width="200"></p-image>
            </div>
        </div>
        <div class="w-full h-15rem flex flex-column gap-6 md:gap-2 lg:gap-2 xl:gap-2">
            <div class="w-full h-full flex flex-column md:flex-row lg:flex-row xl:flex-row  gap-6 md:gap-4 lg:gap-4 xl:gap-4">
                <section class="w-full md:w-6 lg:w-6 xl:w-6  h-full border-bottom-1 border-gray-500 flex align-items-center">
                    <a class="no-underline w-full h-full flex flex-row justify-content-between align-items-center" href="">
                        <div class="px-4 w-6 font-bold text-color text-3xl text-left" >{{"student" | translate}}</div>
                        <div class="w-6 text-right"><i class="pi pi-arrow-right"></i></div>
                      </a>
                </section>
                <section class="w-full md:w-6 lg:w-6 xl:w-6  h-full border-bottom-1 border-gray-500 flex align-items-center">
                    <a class="no-underline w-full h-full flex flex-row justify-content-between align-items-center" href="">
                        <div class="px-4 w-6 font-bold text-color text-3xl text-left" >{{"parent" | translate}}</div>
                        <div class="w-6 text-right"><i class="pi pi-arrow-right"></i></div>
                      </a>
                </section>
            </div>
            <div class="w-full h-full flex flex-column md:flex-row lg:flex-row xl:flex-row gap-6 md:gap-4 lg:gap-4 xl:gap-4">
                <section class="w-full md:w-6 lg:w-6 xl:w-6  h-full border-bottom-1 border-gray-500 flex align-items-center">
                    <a class="no-underline w-full h-full flex flex-row justify-content-between align-items-center" href="">
                        <div class="px-4 w-6 font-bold text-color text-3xl text-left" >{{"tutor" | translate}}</div>
                        <div class="w-6 text-right"><i class="pi pi-arrow-right"></i></div>
                      </a>
                </section>
                <section class="w-full md:w-6 lg:w-6 xl:w-6  h-full border-bottom-1 border-gray-500 flex align-items-center">
                    <a class="no-underline w-full h-full flex flex-row justify-content-between align-items-center" href="">
                        <div class="px-4 w-6 font-bold text-color text-3xl text-left" >{{"teacher" | translate}}</div>
                        <div class="w-6 text-right"><i class="pi pi-arrow-right"></i></div>
                      </a>
                </section>
            </div>
         </div>
    </div>
</div>
<app-landing-skeleton *ngIf="loading"></app-landing-skeleton>

