$main-bg-color: #3A9B23;
$main-text-color: #3A9B23;
$main-border-color: #3A9B23;
.bg-color-main{
   background-color: $main-bg-color;
   color: white;
}


::ng-deep .p-password{
    width:  100%;
}

::ng-deep .p-password-input{
   width:  100%;
}

::ng-deep .p-calendar{
   width:  100%;
}

::ng-deep .p-dropdown{
   width: 100%;
}

::ng-deep {
    .p-fileupload-buttonbar{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
        align-items: center;
        gap: 4px;
        .p-button{
            background-color:$main-bg-color;
            width: 100%;
            margin-right: inherit;
            border: none;
            &:focus{
                color: white;
            }
            
        }
        
        .p-disabled{
            width: 100%;
            border: none;
            .p-button{
                width: 100%;
                border: none;
                background-color: rgb(202, 200, 200);
                color: $main-text-color;
            }
        }
        .p-element{
            .p-button{
                border: none;
                width: 100%;
            }
        }
        p-button{
            border: none;
            width: 100%;
            &:focus{
                border: none;
            }
        }
    }
}

  
  /* Could Use thise as well for Individual Controls */
  video::-webkit-media-controls-play-button {
    display: none;
  }
  
  video::-webkit-media-controls-volume-slider {
    display: none;
  }
  
  video::-webkit-media-controls-mute-button {
    display: none;
  }
  
  video::-webkit-media-controls-timeline {
    display: none;
  }
  
  video::-webkit-media-controls-current-time-display {
    display: none;
  }  
  video::-webkit-media-controls-fullscreen-button {
    display: none !important;
  }




  ::ng-deep{
    .p-stepper .p-stepper-panels{
        padding: 0px !important;
        padding-top: 1.2rem !important;
    }
    .p-inputtext {
        width: 100%;
    }
    .p-password{
        width:  100%;
   }
    .p-password-input{
        width:  100%;
    }
    .p-dropdown{
        width: 100%;
    }
    .p-stepper-number{
        display: none;
    }
    .p-stepper-title{
        display: none;
    }
    .p-stepper-nav{
        display: none;
    }
    p-button{
        .p-button{
            width: 100%;
            border: none;
            background-color: transparent;
        }
    }
 
    .p-calendar{
        width:  100%;
    }
    $availability-calendar-width: 40%;
    .availability{
        p-calendar{
            width:  $availability-calendar-width;
            .p-calendar{
                width:  100%;
                .p-inputtext{
                    width:  100%;
                }
            }
        }
    }
    $tarification-calendar-width: 150px;
    .tarification{
        p-calendar{
            width:  $tarification-calendar-width;
            .p-calendar{
                width:  100%;
                .p-inputtext{
                    width:  100%;
                }
            }
        }
    }
 }