$main-bg-color: #3A9B23;
$main-text-color: #3A9B23;
.bg-color-main{
   background-color: $main-bg-color;
   color: white;
}

::ng-deep .p-password{
    width:  100%;
}

::ng-deep .p-password-input{
   width:  100%;
}

::ng-deep .p-calendar{
   width:  100%;
}

::ng-deep .p-dropdown{
   width: 100%;
}