<!-- 
<p-toast position="bottom-center" preventOpenDuplicates="true" />
<section class="w-full h-screen  flex justify-content-center mt-2"
    *ngIf="!loading && registrationStateStep.toString() == '0'">
    <form class="w-10 md:w-3 lg-w-3 xl:w-3" #emailForm="ngForm" name="f"
        (ngSubmit)="emailForm.form.valid && registerWithEmail()" class="w-10 md:w-3 lg-w-3 xl:w-3">
        <h1 class="text-center text-xl text-cyan-900  poppins-bold ">Indiquez votre numéro de téléphone ou votre adresse
            e-mail.</h1>
        <div class="frm poppins-medium">
            <div class="w-full flex flex-column gap-2">
                <div class="flex flex-column gap-2">
                    <label class="text-sm" for="email">E-mail</label>
                    <input placeholder="votre email" [(ngModel)]="email" name="email"  type="email"
                        class="p-inputtext-sm" pInputText id="email" aria-describedby="email-help" />
                </div>
                <button type="submit" size="small" pButton pRipple label="Continuer"
                    class="cursor-pointer bg-color-main w-full  text-white hover:bg-green-600 border-none"></button>

                <p-divider align="center" class="text-gray-400 font-medium">
                    <span>Ou</span>
                </p-divider>
                <button type="button"
                    class="hover:border-2 hover:border-green-300  cursor-pointer flex justify-content-between border-2 border-gray-200 border-round-md align-items-center w-full h-3rem bg-white text-white">
                    <p-image class="absolute" src="assets/image/google.svg" alt="Image" width="20"></p-image>
                    <div class="w-full text-gray-600 text-center">Continuer avec google</div>
                </button>
                <button type="button"
                    class="hover:border-2  hover:border-green-300  cursor-pointer flex justify-content-between border-2 border-gray-200 border-round-md align-items-center w-full h-3rem bg-white text-white">
                    <p-image class="absolute" src="assets/image/apple.svg" alt="Image" width="20"></p-image>
                    <div class="w-full text-gray-600 text-center">Continuer avec apple</div>
                </button>
                <button type="button"
                    class="hover:border-2  hover:border-green-300  cursor-pointer flex justify-content-between border-2 border-gray-200 border-round-md align-items-center w-full h-3rem bg-white text-white">
                    <p-image class="absolute" src="assets/image/fb.svg" alt="Image" width="20"></p-image>
                    <div class="w-full text-gray-600 text-center">Continuer avec facebook</div>
                </button>
                <button type="button"
                    class="text-gray-600 hover:text-blue-500  cursor-pointer bg-blue-50 flex justify-content-between border-none border-round-md align-items-center w-full h-3rem">
                    <i class="pi pi-qrcode"></i>
                    <div class="w-full text-center">
                        Connectez-vous avec une qr-code
                    </div>
                </button>
                <div class="text-xs text-gray-400 text-center mt-2">
                    En continuant, vous acceptz de recevoir au numéro fourni des appels, messages WhatsApp ou SMS, y
                    compris de façon automatisée, de la part d'Uber et de ces sociétés affiliées.
                </div>
            </div>
        </div>
    </form>
</section>
<app-parent-register-email-skeleton
    *ngIf="loading && registrationStateStep.toString() == '0'"></app-parent-register-email-skeleton>

    <section class="w-full h-screen  flex justify-content-center mt-2"
    *ngIf="!loading && registrationStateStep.toString() == '2'">
    <form class="w-10 md:w-3 lg-w-3 xl:w-3" #passwordForm="ngForm" name="passwordForm"
        (ngSubmit)="passwordForm.form.valid && registerNewPassword()">
        <h1 class="text-center text-xl text-cyan-900  poppins-bold">Veuillez ajouter votre nouveau mot de passe.</h1>
        <div class="frm poppins-medium">
            <div class="w-full flex flex-column gap-4">
                <div class="flex flex-column gap-2">
                    <label class="text-sm" for="password">Mot de passe</label>
                    <p-password promptLabel="Entrez votre mot de passe" placeholder="Nouveau mot de passe"
                        [(ngModel)]="password" name="password" weakLabel="Trop simple" mediumLabel="Complexite normale"
                        strongLabel="Mots de pass complex" class="p-inputtext-sm" id="password"
                        [toggleMask]="true"></p-password>
                </div>
                <div class="flex flex-column gap-2">
                    <label class="text-sm" for="re-password">Confirmation</label>
                    <p-password placeholder="Confirmer votre mot de passe" [(ngModel)]="passwordConfirm"
                        name="passwordConfirm" [feedback]="false" class="p-inputtext-sm" id="password"
                        [toggleMask]="true"></p-password>
                </div>
                <button type="submit" size="small" pButton pRipple label="Continuer"
                    class="cursor-pointer p-button-success w-full bg-green-500 text-white"></button>
            </div>
        </div>
    </form>
</section>
<app-parent-password-skeleton
    *ngIf="loading && registrationStateStep.toString() == '2'"></app-parent-password-skeleton>

    <section class="w-full h-screen  flex justify-content-center mt-2"
    *ngIf="!loading && registrationStateStep.toString() == '3'">
    <form class="w-10 md:w-3 lg-w-3 xl:w-3" #aboutForm="ngForm" name="aboutForm"
        (ngSubmit)="aboutForm.form.valid && registerAboutInfo()">
        <h1 class="text-center text-xl text-cyan-900  poppins-bold">Veuillez remplir les informations suivants.</h1>
        <div class="frm poppins-medium">
            <div class="w-full flex flex-column gap-2">
                <div class="formgrid grid">
                    <div class="field col">
                        <label for="aname">Nom</label>
                        <input [(ngModel)]="name" name="aname" placeholder="votre nom" id="aname" type="text"
                            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                    </div>
                    <div class="field col">
                        <label for="familyName">Prénom</label>
                        <input [(ngModel)]="familyName" name="familyName" placeholder="votre prénom" id="familyName"
                            type="text"
                            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                    </div>
                </div>

                <div class="flex-auto">
                    <label for="birthDate" class=""> Date de naissance</label>
                    <p-calendar placeholder="votre date de naissance" dateFormat="dd.mm.yy" [(ngModel)]="birthDate"
                        name="birthDate" [iconDisplay]="'input'" [showIcon]="true" inputId="birthDate"></p-calendar>
                </div>
                <div class="flex-auto">
                    <label for="nickName" class=""> Nom d'utilisateur</label>
                    <input [(ngModel)]="nickName" name="nickName" placeholder="Nom utilisateur" id="nickName"
                        type="text"
                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                </div>

                <div class="flex flex-column mt-2">
                    <label for="sex" class=""> Choisissez votre sex:</label>
                    <p-dropdown placeholder="votre sexe" inputId="sex" [options]="sex" [(ngModel)]="selectedSex"
                        optionLabel="key" name="sexname" />
                </div>

                <div class="flex flex-column mt-2">
                    <label for="lang" class=""> Choisissez votre langue:</label>
                    <p-dropdown placeholder="votre langue maternelle" inputId="lang" [options]="languages"
                        [(ngModel)]="selectedlanguage" optionLabel="name" name="langname" />
                </div>
                <button type="submit" size="small" pButton pRipple label="Continuer"
                    class="mt-2 p-button-success w-full bg-green-500 text-white"></button>
            </div>
        </div>
    </form>
</section>
<app-parent-about-skeleton *ngIf="loading && registrationStateStep.toString() == '3'"></app-parent-about-skeleton>

<section class="w-full h-screen  flex justify-content-center mt-2"
*ngIf="!loading && registrationStateStep.toString() == '4'">
<form class="w-10 md:w-3 lg-w-3 xl:w-3" #passwordForm="ngForm" name="passwordForm"
    (ngSubmit)="passwordForm.form.valid && registerParentChild()">
    <h1 class="text-center text-xl text-cyan-900  poppins-bold"> Quelle est le nom complet de votre jeûne.</h1>
    <div class="frm poppins-medium">
        <div class="w-full flex flex-column gap-4">
            <div class="flex flex-column gap-2">
                <label class="text-sm" for="child-name">Nom</label>
                <input [(ngModel)]="childName" name="child-name" placeholder="Nom de votre jeûne" id="child-name" type="text"
                    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
            </div>
            <div class="flex flex-column gap-2">
                <label class="text-sm" for="re-password">Pénom</label>
                <input [(ngModel)]="childFamilyName" name="child-familyname" placeholder="Pénom de votre jeûne" id="child-familyname" type="text"
                    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
            </div>
            <button type="submit" size="small" pButton pRipple label="Continuer"
                class="cursor-pointer p-button-success w-full bg-green-500 text-white"></button>
        </div>
    </div>
</form>
</section>
<app-parent-child-skeleton
*ngIf="loading && registrationStateStep.toString() == '4'"></app-parent-child-skeleton>



<section class="w-full h-screen  flex justify-content-center mt-2"
    *ngIf="!loading && registrationStateStep.toString() == '5'">
    <form class="w-10 md:w-3 lg-w-3 xl:w-3" #schoolLevelForm="ngForm" name="schoolLevelForm"
        (ngSubmit)="schoolLevelForm.form.valid && registerEducationLevel()">
        <h1 class="text-center text-xl text-cyan-900  poppins-bold">A quel niveau scolaire est votre jeûne ?</h1>
        <div class="frm poppins-medium">
            <div class="w-full flex flex-column gap-4">
                <p-scrollPanel
                    class="card flex justify-content-center h-30rem border-1 pt-6 pb-6 border-gray-300 border-round-lg bg-gray-50">
                    <div class="flex flex-column gap-3">
                        <div *ngFor="let educationLevel of educationLevels" class="field-checkbox">
                            <p-radioButton [inputId]="educationLevel.Id" name="schoolLevel" [value]="educationLevel"
                                [(ngModel)]="selectedEducationLevel"></p-radioButton>
                            <label [for]="educationLevel.Id" class="ml-2">{{ educationLevel.Name }}</label>
                        </div>
                    </div>
                </p-scrollPanel>
                <button type="submit" size="small" pButton pRipple label="Continuer"
                    class="cursor-pointer p-button-success w-full bg-green-500 text-white"></button>

            </div>
        </div>
    </form>
</section>
<app-parent-education-level-skeleton
    *ngIf="loading && registrationStateStep.toString() == '5'"></app-parent-education-level-skeleton>

    <section class="w-full h-screen  flex justify-content-center mt-2"
    *ngIf="!loading && registrationStateStep.toString() == '6'">
    <form class="w-10 md:w-3 lg-w-3 xl:w-3" #subjectForm="ngForm" name="subjectForm"
        (ngSubmit)="subjectForm.form.valid && registerSubject()">
        <h1 class="text-center text-xl text-cyan-900  poppins-bold">Dans quelle matière avez vous besoin d'aide ?</h1>
        <div class="frm poppins-medium">
            <div class="w-full flex flex-column gap-4">
                <p-scrollPanel
                    class="card flex justify-content-center h-30rem border-1 pt-6 pb-6 border-gray-300 border-round-lg bg-gray-50">
                    <div class="flex flex-column gap-3">
                        <div *ngFor="let subject of subjects" class="pl-4 field-checkbox">
                            <p-radioButton [inputId]="subject.Id" name="category" [value]="subject"
                                [(ngModel)]="selectedSubject"></p-radioButton>
                            <label [for]="subject.Id" class="ml-2">{{ subject.Name }}</label>
                        </div>
                    </div>
                </p-scrollPanel>
                <button type="submit" size="small" pButton pRipple label="Continuer"
                    class="cursor-pointer p-button-success w-full bg-green-500 text-white"></button>
            </div>
        </div>
    </form>
</section>
<app-parent-subject-skeleton *ngIf="loading && registrationStateStep.toString() == '6'"></app-parent-subject-skeleton>

<section class="w-full h-screen  flex justify-content-center mt-2"
    *ngIf="!loading && registrationStateStep.toString() == '7'">
    <form class="w-10 md:w-3 lg-w-3 xl:w-3" #courseTypeForm="ngForm" name="courseTypeForm"
        (ngSubmit)="courseTypeForm.form.valid && registerCourseType()">
        <h1 class="text-center text-xl text-cyan-900  poppins-bold">Vous feriez des cours en ligne ou en présentiel ?
        </h1>
        <div class="frm poppins-medium">
            <div class="w-full flex flex-column gap-4">
                <div class="card w-full h-full pt-4 pb-4 border-2 border-gray-300 border-round-lg bg-gray-50 pl-4 pr-4">
                    <div class="flex flex-column gap-3 ">
                        <div *ngFor="let courseType of courseTypes" class="field-checkbox">
                            <p-radioButton [inputId]="courseType.key" name="category" [value]="courseType"
                                [(ngModel)]="selectedcourseType"></p-radioButton>
                            <div class="relative w-full">
                                <label [for]="courseType.key" class="ml-2">{{ courseType.name }}</label>
                                <label class="text-xs text-gray-400 mt-1 absolute w-full left-0 pl-2 pt-3">{{
                                    courseType.description }}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" size="small" pButton pRipple label="Continuer"
                    class="cursor-pointer p-button-success w-full bg-green-500 text-white"></button>
            </div>
        </div>
    </form>
</section>
<app-parent-course-type-skeleton
    *ngIf="loading && registrationStateStep.toString() == '7'"></app-parent-course-type-skeleton>


    <section  class="w-full h-screen  flex justify-content-center mt-2" *ngIf="!loading && registrationStateStep.toString() == '8'">
        <form class="w-10 md:w-3 lg-w-3 xl:w-3" #availabilityForm="ngForm" name="availabilityForm"
        (ngSubmit)="availabilityForm.form.valid && registerAvailability()">
            <h1 class="text-center text-xl text-cyan-900  poppins-bold">Quelles sont vos disponibilités pour la première rencontre avec le tuteur?</h1>
            <div class="poppins-medium">
                <div class="flex flex-column gap-2">
                    <div class=" ">
                        <p-calendar  [(ngModel)]="availability" class="overflow-x-hidden" name="availability"  [inline]="true" [showWeek]="true" [iconDisplay]="'input'" [showIcon]="true" inputId="icondisplay">
                        </p-calendar>
                    </div>
                    <button type="submit" size="small" pButton pRipple label="Continuer" class="cursor-pointer p-button-success w-full bg-green-500 text-white"></button>
                    
                </div>
            </div>
        </form>
    </section>
    
    
    <section  class="w-full h-screen flex justify-content-center mt-2" *ngIf="!loading && registrationStateStep.toString() == '9'">
        <div class="w-10 md:w-3 lg-w-3 xl:w-3" >
            <h1 class="text-center text-xl text-cyan-900  poppins-bold">Voici le meilleur tuteur pour convenir à vos besoins.</h1>
            <button routerLink="/pages/dashboard" size="small" pButton pRipple label="Naviguer vers le tableau de bord" class="mt-5 p-button-success w-full bg-green-500 text-white"></button>
        </div>
    </section> -->

    <p-toast position="bottom-center" preventOpenDuplicates="true" />

    <div class="card" *ngIf="!debug">
    <p-stepper [linear]="true">
        <p-stepperPanel header="Header I">
            <ng-template pTemplate="content" let-nextCallback="nextCallback" let-index="index">
                <section class="w-full h-full  flex justify-content-center mt-2">
                    <form class="w-10 md:w-3 lg-w-3 xl:w-3" #emailForm="ngForm" name="f"
                        (ngSubmit)="emailForm.form.valid && registerWithEmail(nextCallback)" class="w-10 md:w-3 lg-w-3 xl:w-3">
                        <h1 class="text-center text-xl text-cyan-900  poppins-bold ">Indiquez votre numéro de téléphone ou votre adresse
                            e-mail.</h1>
                        <div class="frm poppins-medium">
                            <div class="w-full flex flex-column gap-2">
                                <div class="flex flex-column gap-2">
                                    <label class="text-sm" for="email">E-mail</label>
                                    <input placeholder="votre email" [(ngModel)]="email" name="email" type="email"
                                        class="p-inputtext-sm" pInputText id="email" aria-describedby="email-help" />
                                </div>
                                <button type="submit" size="small" pButton pRipple label="Continuer"
                                    class="cursor-pointer bg-color-main w-full  text-white hover:bg-green-600 border-none"></button>

                                <p-divider align="center" class="text-gray-400 font-medium">
                                    <span>Ou</span>
                                </p-divider>
                                <button type="button"
                                    class="hover:border-2 hover:border-green-300  cursor-pointer flex justify-content-between border-2 border-gray-200 border-round-md align-items-center w-full h-3rem bg-white text-white">
                                    <p-image class="absolute" src="assets/image/google.svg" alt="Image" width="20"></p-image>
                                    <div class="w-full text-gray-600 text-center">Continuer avec google</div>
                                </button>
                                <button type="button"
                                    class="hover:border-2  hover:border-green-300  cursor-pointer flex justify-content-between border-2 border-gray-200 border-round-md align-items-center w-full h-3rem bg-white text-white">
                                    <p-image class="absolute" src="assets/image/apple.svg" alt="Image" width="20"></p-image>
                                    <div class="w-full text-gray-600 text-center">Continuer avec apple</div>
                                </button>
                                <button type="button"
                                    class="hover:border-2  hover:border-green-300  cursor-pointer flex justify-content-between border-2 border-gray-200 border-round-md align-items-center w-full h-3rem bg-white text-white">
                                    <p-image class="absolute" src="assets/image/fb.svg" alt="Image" width="20"></p-image>
                                    <div class="w-full text-gray-600 text-center">Continuer avec facebook</div>
                                </button>
                                <button type="button"
                                    class="text-gray-600 hover:text-blue-500  cursor-pointer bg-blue-50 flex justify-content-between border-none border-round-md align-items-center w-full h-3rem">
                                    <i class="pi pi-qrcode"></i>
                                    <div class="w-full text-center">
                                        Connectez-vous avec une qr-code
                                    </div>
                                </button>
                                <div class="text-xs text-gray-400 text-center mt-2">
                                    En continuant, vous acceptz de recevoir au numéro fourni des appels, messages WhatsApp ou SMS, y
                                    compris de façon automatisée, de la part d'Uber et de ces sociétés affiliées.
                                </div>
                            </div>
                        </div>
                    </form>
                </section>
            </ng-template>
        </p-stepperPanel>
        <p-stepperPanel header="Header II">
            <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback" let-index="index">
                <section class="w-full h-full  flex justify-content-center mt-2">
                <form class="w-10 md:w-3 lg-w-3 xl:w-3" #passwordForm="ngForm" name="passwordForm"
                    (ngSubmit)="passwordForm.form.valid && registerNewPassword(nextCallback)">
                    <h1 class="text-center text-xl text-cyan-900  poppins-bold">Veuillez ajouter votre nouveau mot de passe.</h1>
                    <div class="frm poppins-medium">
                        <div class="w-full flex flex-column gap-4">
                            <div class="flex flex-column gap-2">
                                <label class="text-sm" for="password">Mot de passe</label>
                                <p-password promptLabel="Entrez votre mot de passe" placeholder="Nouveau mot de passe"
                                    [(ngModel)]="password" name="password" weakLabel="Trop simple" mediumLabel="Complexite normale"
                                    strongLabel="Mots de pass complex" class="p-inputtext-sm" id="password"
                                    [toggleMask]="true"></p-password>
                            </div>
                            <div class="flex flex-column gap-2">
                                <label class="text-sm" for="re-password">Confirmation</label>
                                <p-password placeholder="Confirmer votre mot de passe" [(ngModel)]="passwordConfirm"
                                    name="passwordConfirm" [feedback]="false" class="p-inputtext-sm" id="password"
                                    [toggleMask]="true"></p-password>
                            </div>
                            <button type="submit" size="small" pButton pRipple label="Continuer"
                                class="cursor-pointer p-button-success w-full bg-green-500 text-white"></button>
                        </div>
                    </div>
                </form>
            </section>
            </ng-template>
        </p-stepperPanel>
        <p-stepperPanel header="Header III">
            <ng-template pTemplate="content" let-prevCallback="prevCallback"  let-nextCallback="nextCallback" let-index="index">
                <section class="w-full h-full  flex justify-content-center mt-2">
                    <form class="w-10 md:w-3 lg-w-3 xl:w-3" #aboutForm="ngForm" name="aboutForm"
                        (ngSubmit)="aboutForm.form.valid && registerAboutInfo(nextCallback)">
                        <h1 class="text-center text-xl text-cyan-900  poppins-bold">Veuillez remplir les informations suivants.</h1>
                        <div class="frm poppins-medium">
                            <div class="w-full flex flex-column gap-2">
                                <div class="formgrid grid">
                                    <div class="field col">
                                        <label for="aname">Nom</label>
                                        <input [(ngModel)]="name" name="aname" placeholder="votre nom" id="aname" type="text"
                                            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                                    </div>
                                    <div class="field col">
                                        <label for="familyName">Prénom</label>
                                        <input [(ngModel)]="familyName" name="familyName" placeholder="votre prénom" id="familyName"
                                            type="text"
                                            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                                    </div>
                                </div>

                                <div class="flex-auto">
                                    <label for="birthDate" class=""> Date de naissance</label>
                                    <p-calendar placeholder="votre date de naissance" dateFormat="dd.mm.yy" [(ngModel)]="birthDate"
                                        name="birthDate" [iconDisplay]="'input'" [showIcon]="true" inputId="birthDate"></p-calendar>
                                </div>
                                <div class="flex-auto">
                                    <label for="nickName" class=""> Nom d'utilisateur</label>
                                    <input [(ngModel)]="nickName" name="nickName" placeholder="Nom utilisateur" id="nickName"
                                        type="text"
                                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                                </div>

                                <div class="flex flex-column mt-2">
                                    <label for="sex" class=""> Choisissez votre sex:</label>
                                    <p-dropdown placeholder="votre sexe" inputId="sex" [options]="sex" [(ngModel)]="selectedSex"
                                        optionLabel="key" name="sexname" />
                                </div>

                                <div class="flex flex-column mt-2">
                                    <label for="lang" class=""> Choisissez votre langue:</label>
                                    <p-dropdown placeholder="votre langue maternelle" inputId="lang" [options]="languages"
                                        [(ngModel)]="selectedlanguage" optionLabel="name" name="langname" />
                                </div>
                                <button type="submit" size="small" pButton pRipple label="Continuer"
                                    class="mt-2 p-button-success w-full bg-green-500 text-white"></button>
                            </div>
                        </div>
                    </form>
                </section>
            </ng-template>
        </p-stepperPanel>
        <p-stepperPanel header="ChildName">
            <ng-template  pTemplate="content" let-prevCallback="prevCallback"  let-nextCallback="nextCallback" let-index="index">
                <section class="w-full h-screen  flex justify-content-center mt-2">
                <form class="w-10 md:w-3 lg-w-3 xl:w-3" #childNameForm="ngForm" name="childNameForm"
                    (ngSubmit)="childNameForm.form.valid && registerChildName(nextCallback)">
                    <h1 class="text-center text-xl text-cyan-900  poppins-bold"> Quelle est le nom complet de votre jeûne.</h1>
                    <div class="frm poppins-medium">
                        <div class="w-full flex flex-column gap-4">
                            <div class="flex flex-column gap-2">
                                <label class="text-sm" for="child-name">Nom</label>
                                <input [(ngModel)]="childName" name="child-name" placeholder="Nom de votre jeûne" id="child-name" type="text"
                                    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                            </div>
                            <div class="flex flex-column gap-2">
                                <label class="text-sm" for="re-password">Pénom</label>
                                <input [(ngModel)]="childFamilyName" name="child-familyname" placeholder="Pénom de votre jeûne" id="child-familyname" type="text"
                                    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                            </div>
                            <button type="submit" size="small" pButton pRipple label="Continuer"
                                class="cursor-pointer p-button-success w-full bg-green-500 text-white"></button>
                        </div>
                    </div>
                </form>
                </section>
            </ng-template>
        </p-stepperPanel>

        <p-stepperPanel header="Header IV">
            <ng-template pTemplate="content" let-prevCallback="prevCallback"  let-nextCallback="nextCallback" let-index="index">
                <section class="w-full h-full  flex justify-content-center mt-2">
                    <form class="w-10 md:w-3 lg-w-3 xl:w-3"   #aboutForm="ngForm" name="aboutForm" (ngSubmit)="aboutForm.form.valid && registerLanguage(nextCallback)">
                        <h1 class="text-center text-xl text-cyan-900  poppins-bold">Quelle est la langue à laquelle votre jeûne reçoit son éducation ?</h1>
                        <div class="frm poppins-medium">
                            <div class="w-full flex flex-column gap-4">
                                <div
                                    class="card flex justify-content-center border-1 pt-6 pb-6 border-gray-300 border-round-lg bg-gray-50">
                                    <div class="flex flex-column gap-3">
                                        <div *ngFor="let language of languages" class="field-checkbox">
                                            <p-radioButton [inputId]="language.key" name="category" [value]="language"
                                                [(ngModel)]="selectedlanguage"></p-radioButton>
                                            <div class="relative">
                                                <label [for]="language.key" class="ml-2">{{ language.name }}</label>
                                                <label class="text-xs text-gray-400 mt-1 absolute w-full left-0 pl-2 pt-3">{{
                                                    language.default }}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button size="small" pButton pRipple label="Continuer"
                                    class="cursor-pointer p-button-success w-full bg-green-500 text-white"></button>
                            </div>
                        </div>
                    </form>
                </section>
            </ng-template>
        </p-stepperPanel>
        <p-stepperPanel header="Header V">
            <ng-template pTemplate="content" let-prevCallback="prevCallback"  let-nextCallback="nextCallback" let-index="index">
                <section class="w-full h-full  flex justify-content-center mt-2">
                    <form class="w-10 md:w-3 lg-w-3 xl:w-3" #schoolLevelForm="ngForm" name="schoolLevelForm" (ngSubmit)="schoolLevelForm.form.valid && registerEducationLevel(nextCallback)">
                        <h1 class="text-center text-xl text-cyan-900  poppins-bold">A quel niveau scolaire est votre jeûne ?</h1>
                        <div class="frm poppins-medium">
                            <div class="w-full flex flex-column gap-4">
                                <p-scrollPanel
                                    class="card flex justify-content-center h-30rem border-1 pt-6 pb-6 border-gray-300 border-round-lg bg-gray-50">
                                    <div class="flex flex-column gap-3">
                                        <div *ngFor="let educationLevel of educationLevels" class="field-checkbox">
                                            <p-radioButton [inputId]="educationLevel.Id" name="schoolLevel" [value]="educationLevel"
                                                [(ngModel)]="selectedEducationLevel"></p-radioButton>
                                            <label [for]="educationLevel.Id" class="ml-2">{{ educationLevel.Name }}</label>
                                        </div>
                                    </div>
                                </p-scrollPanel>
                                <button type="submit" size="small" pButton pRipple label="Continuer"
                                    class="cursor-pointer p-button-success w-full bg-green-500 text-white"></button>

                            </div>
                        </div>
                    </form>
                </section>
            </ng-template>
        </p-stepperPanel>
        <p-stepperPanel header="Header VI">
            <ng-template pTemplate="content" let-prevCallback="prevCallback"  let-nextCallback="nextCallback" let-index="index">
                <section class="w-full h-full  flex justify-content-center mt-2">
                    <form class="w-10 md:w-3 lg-w-3 xl:w-3" #subjectForm="ngForm" name="subjectForm"
                        (ngSubmit)="subjectForm.form.valid && registerSubject(nextCallback)">
                        <h1 class="text-center text-xl text-cyan-900  poppins-bold">Dans quelle matière votre jeûne a-t-il besoin d'aide ?</h1>
                        <div class="frm poppins-medium">
                            <div class="w-full flex flex-column gap-4">
                                <p-scrollPanel
                                    class="card flex justify-content-center h-30rem border-1 pt-6 pb-6 border-gray-300 border-round-lg bg-gray-50">
                                    <div class="flex flex-column gap-3">
                                        <div *ngFor="let subject of subjects" class="pl-4 field-checkbox">
                                            <!-- <p-radioButton [inputId]="subject.Id" name="category" [value]="subject"
                                                [(ngModel)]="selectedSubject"></p-radioButton>
                                            <label [for]="subject.Id" class="ml-2">{{ subject.Name }}</label> -->
                                             <p-checkbox 
                                                [(ngModel)]="selectedSubject"
                                                [label]="subject.Name" 
                                                name="subject" 
                                                [value]="subject" />
                                        </div>
                                    </div>
                                </p-scrollPanel>
                                <button type="submit" size="small" pButton pRipple label="Continuer"
                                    class="cursor-pointer p-button-success w-full bg-green-500 text-white"></button>
                            </div>
                        </div>
                    </form>
                </section>
            </ng-template>
        </p-stepperPanel>
        <p-stepperPanel header="Header VII">
            <ng-template pTemplate="content" let-prevCallback="prevCallback"  let-nextCallback="nextCallback" let-index="index">
                <section class="w-full h-full  flex justify-content-center mt-2">
                    <form class="w-10 md:w-3 lg-w-3 xl:w-3" #courseTypeForm="ngForm" name="courseTypeForm" (ngSubmit)="courseTypeForm.form.valid && registerCourseType(nextCallback)">
                        <h1 class="text-center text-xl text-cyan-900  poppins-bold">Vous désiriez une aide en ligne ou en présentiel ?
                        </h1>
                        <div class="frm poppins-medium">
                            <div class="w-full flex flex-column gap-4">
                                <div class="card w-full h-full pt-4 pb-4 border-2 border-gray-300 border-round-lg bg-gray-50 pl-4 pr-4">
                                    <div class="flex flex-column gap-3 ">
                                        <div *ngFor="let courseType of courseTypes" class="field-checkbox">
                                            <p-radioButton [inputId]="courseType.key" name="category" [value]="courseType"
                                                [(ngModel)]="selectedcourseType"></p-radioButton>
                                            <div class="relative w-full">
                                                <label [for]="courseType.key" class="ml-2">{{ courseType.name }}</label>
                                                <label class="text-xs text-gray-400 mt-1 absolute w-full left-0 pl-2 pt-3">{{
                                                    courseType.description }}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" size="small" pButton pRipple label="Continuer"
                                    class="cursor-pointer p-button-success w-full bg-green-500 text-white"></button>
                            </div>
                        </div>
                    </form>
                </section>
            </ng-template>
        </p-stepperPanel>
        <p-stepperPanel header="Header IX">
            <ng-template pTemplate="content" let-prevCallback="prevCallback"  let-nextCallback="nextCallback" let-index="index">
                <section class="w-full h-full  flex justify-content-center mt-2">
                    <form class="w-10 md:w-3 lg-w-3 xl:w-3" #availabilityForm="ngForm" name="availabilityForm"
                        (ngSubmit)="availabilityForm.form.valid && registerAvailability(nextCallback)">
                        <h1 class="text-center text-xl text-cyan-900  poppins-bold">Quelles sont vos disponnibilités pour la premiere
                            rencontre avec le tuteur?</h1>
                        <div class="frm poppins-medium">
                            <div class="flex flex-column gap-4">
                                <span class="flex  availability align-items-center gap-2">
                                    <div class="">
                                        Vous préférez demain à: 
                                    </div>
                                    <p-calendar [(ngModel)]="availabilityFrom" name="from"  [showTime]="true" [timeOnly]="true" [iconDisplay]="'input'" [showIcon]="true"
                                    inputId="icondisplay">
                                    <ng-template pTemplate="inputicon" let-clickCallBack="clickCallBack">
                                        <i class="pi pi-clock pointer-events-none" (click)="clickCallBack($event)"></i>
                                    </ng-template>
                                </p-calendar>
                                </span>
                                <div class="flex-auto">
                                    <label for="icondisplay" class="">Ou</label>
                                    <div
                                        class="card flex  h-10rem w-100 overflow-y-scroll pt-3 pb-3 border-1 border-gray-300 p-3 border-round-md mt-2">
                                        <div class="flex flex-column gap-3 py-3">
                                            <div *ngFor="let day of days" class="field-checkbox">
                                                <p-radioButton [inputId]="day.key" name="category" [value]="day"
                                                    [(ngModel)]="selectedDays"></p-radioButton>
                                                <label [for]="day.key" class="ml-2">{{ day.name }}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <span class="flex align-items-center justify-content-between gap-2">
                                    <div class="">
                                        à: 
                                    </div>
                                    <p-calendar [showTime]="true" [timeOnly]="true" [iconDisplay]="'input'" [showIcon]="true" [(ngModel)]="availabilityWhere" name="where"
                                        Icon="pi pi-user" inputId="icondisplay">
                                        <ng-template pTemplate="inputicon" let-clickCallBack="clickCallBack">
                                            <i class="pi pi-clock pointer-events-none" (click)="clickCallBack($event)"></i>
                                        </ng-template>
                                    </p-calendar>
                                </span>
                                <button type="submit" size="small" pButton pRipple label="Continuer"
                                                    class="cursor-pointer p-button-success w-full bg-green-500 text-white"></button>
                            </div>
                        </div>
                    </form>
                </section>
            </ng-template>
        </p-stepperPanel>
        <p-stepperPanel header="Header X">
            <ng-template pTemplate="content" let-prevCallback="prevCallback"  let-nextCallback="nextCallback" let-index="index">
                <section class="w-full h-full  flex justify-content-center mt-2">
                    <form class="w-10 md:w-3 lg-w-3 xl:w-3" #suggestionsForm="ngForm" name="suggestionsForm" (ngSubmit)="suggestionsForm.form.valid && acceptSuggestion(nextCallback)">
                        <h1 class="text-center text-xl text-cyan-900 poppins-bold">Voici le meilleur tuteur pour convenir à vos besoins:</h1>
                        <div>
                            <div class="p-2 pl-0">
                                <div class="w-full h-15rem relative" >
                                    <video controls  class="w-full h-full bg-green-100">
                                        <source [src]="fakeVideo">
                                    </video>
                                    <div class="h-8rem w-8rem bg-gray-100 border-circle border-2 border-green-600 absolute bottom-0 -mb-5 ml-4  bg-no-repeat bg-cover bg-center" style="background-image: url(https://primefaces.org/cdn/primeng/images/galleria/galleria10.jpg);">
                                        
                                    </div>
                                </div>
                                <div class="mt-5">
                                    <div class="text-gray-400 text-xl font-bold p-3" >Nao Julius (naojulius)</div>
                                    <div class="card">
                                        <p-tabView>
                                            <p-tabPanel header="A propos">
                                                <p>
                                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
                                                    ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius modi.
                                                </p>
                                            </p-tabPanel>
                                            <p-tabPanel header="Matières">
                                                <p>
                                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
                                                    ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius modi.
                                                </p>
                                            </p-tabPanel>
                                            <p-tabPanel header="Avis">
                                                <p>
                                                    Nothind...
                                                </p>
                                            </p-tabPanel>
                                        </p-tabView>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="w-full flex flex-row justify-content-between gap-5">
                            <button routerLink="/pages/dashboard" type="button"  size="small" pButton pRipple label="Réfuser" class="mt-5 p-button-success  bg-green-500 text-white" [style]="{width: '110px'}"></button>
                            <button type="submit"  size="small" pButton pRipple label="Accepter" class="mt-5 p-button-success  bg-green-500 text-white" [style]="{width: '110px'}"></button>
                        </div>
                    </form>
                </section>
            </ng-template>
        </p-stepperPanel>
        <p-stepperPanel header="Header X">
            <ng-template pTemplate="content" let-prevCallback="prevCallback"  let-nextCallback="nextCallback" let-index="index">
                <section class="w-full h-full  flex justify-content-center mt-2">
                    <form class="w-10 md:w-3 lg-w-3 xl:w-3" #suggestionsForm="ngForm" name="suggestionsForm"
                    (ngSubmit)="suggestionsForm.form.valid && registerTarification(nextCallback)">
                        <div class="mt-5 flex flex-column gap-3">
                            <div class="w-full font-normal text-lg text-gray-600">
                                Tarification est de <span class="text-xl font-bold text-green-600">250</span> ($), pour Mathématiques de  <span class="text-xl font-bold text-green-600">Primaire II</span>.
                            </div>
                            <div class="w-full font-normal text-lg text-gray-600">
                                Premiere rencontre est à 50% de l'investissement et vous pouvez changer gratuitement pour un autre tuteur si jamis ça ne marche pas avec JACKIE CHAN, ce qui nous étonnerais.
                            </div>
                
                            <div class="w-full font-normal text-lg text-gray-600">
                                Passer au paiement par carte de crédit ou de débit pour la premiére rencontre ce dimanche à 15h:30 avec JACKIE CHAN.
                                <div class="pt-3 text-sm text-gray-400">
                                    Votre paiement seras débité lorsque le tuteur aura confirmé votre rendez-vous.
                                </div>
                            </div>
                            <button type="submit" size="small" pButton pRipple label="Payer"
                                                    class="cursor-pointer p-button-success w-full bg-green-500 text-white"></button>
                        </div>
                    </form>
                </section>
            </ng-template>
        </p-stepperPanel>
        <p-stepperPanel header="Header XI">
            <ng-template pTemplate="content" let-prevCallback="prevCallback"  let-nextCallback="nextCallback" let-index="index">
                <section class="w-full h-full  flex justify-content-center mt-2">
                    <form class="w-10 md:w-3 lg-w-3 xl:w-3" #suggestionsForm="ngForm" name="suggestionsForm"
                    (ngSubmit)="suggestionsForm.form.valid && gotoDashboard('nextCallback')">
                        <div class="mt-5 flex flex-column gap-3">
                            <div class="w-full font-normal text-lg text-cyan-900 ">
                                Félicitation d'avoir donné à votre jeûne les moyens de s'améliorer et merci de faire confiance à CEND.
                            </div>
                            <div class="text-gray-600 text-lg py-2">
                                Vous recevrez une confirmation de votre rendez-vous par le tuteur par message sur notre plateforme et par courriel.
                            </div>
                            <div class="text-gray-400 text-sm py-2">
                                Un compte étudiant lié à votre compte parent a été crée au nom de <span class="text-gray-600 text-sm font-semibold">{{childName}} {{childFamilyName}}</span>, 
                                voici les accès pour votre jeûne: <span class="text-gray-600 text-sm font-semibold">{{name}}</span> 
                            </div>
                            <button type="submit" size="small" pButton pRipple label="Acceder au tableau de bord" class="mt-5  p-button-success w-full bg-green-500 text-white"></button>
                        </div>
                    </form>
                </section>
            </ng-template>
        </p-stepperPanel>
    </p-stepper>
</div>

