
<p-toast position="bottom-center" preventOpenDuplicates="true" />
<section class="w-full h-screen  flex justify-content-center mt-2"
    *ngIf="!loading && registrationStateStep.toString() == '0'">
    <form class="w-10 md:w-3 lg-w-3 xl:w-3" #emailForm="ngForm" name="f"
        (ngSubmit)="emailForm.form.valid && registerWithEmail()" class="w-10 md:w-3 lg-w-3 xl:w-3">
        <h1 class="text-center text-xl text-cyan-900  poppins-bold ">Indiquez votre numéro de téléphone ou votre adresse
            e-mail.</h1>
        <div class="frm poppins-medium">
            <div class="w-full flex flex-column gap-2">
                <div class="flex flex-column gap-2">
                    <label class="text-sm" for="email">E-mail</label>
                    <input placeholder="votre email" [(ngModel)]="email" name="email"  type="email"
                        class="p-inputtext-sm" pInputText id="email" aria-describedby="email-help" />
                </div>
                <button type="submit" size="small" pButton pRipple label="Continuer"
                    class="cursor-pointer bg-color-main w-full  text-white hover:bg-green-600 border-none"></button>

                <p-divider align="center" class="text-gray-400 font-medium">
                    <span>Ou</span>
                </p-divider>
                <button type="button"
                    class="hover:border-2 hover:border-green-300  cursor-pointer flex justify-content-between border-2 border-gray-200 border-round-md align-items-center w-full h-3rem bg-white text-white">
                    <p-image class="absolute" src="assets/image/google.svg" alt="Image" width="20"></p-image>
                    <div class="w-full text-gray-600 text-center">Continuer avec google</div>
                </button>
                <button type="button"
                    class="hover:border-2  hover:border-green-300  cursor-pointer flex justify-content-between border-2 border-gray-200 border-round-md align-items-center w-full h-3rem bg-white text-white">
                    <p-image class="absolute" src="assets/image/apple.svg" alt="Image" width="20"></p-image>
                    <div class="w-full text-gray-600 text-center">Continuer avec apple</div>
                </button>
                <button type="button"
                    class="hover:border-2  hover:border-green-300  cursor-pointer flex justify-content-between border-2 border-gray-200 border-round-md align-items-center w-full h-3rem bg-white text-white">
                    <p-image class="absolute" src="assets/image/fb.svg" alt="Image" width="20"></p-image>
                    <div class="w-full text-gray-600 text-center">Continuer avec facebook</div>
                </button>
                <button type="button"
                    class="text-gray-600 hover:text-blue-500  cursor-pointer bg-blue-50 flex justify-content-between border-none border-round-md align-items-center w-full h-3rem">
                    <i class="pi pi-qrcode"></i>
                    <div class="w-full text-center">
                        Connectez-vous avec une qr-code
                    </div>
                </button>
                <div class="text-xs text-gray-400 text-center mt-2">
                    En continuant, vous acceptz de recevoir au numéro fourni des appels, messages WhatsApp ou SMS, y
                    compris de façon automatisée, de la part d'Uber et de ces sociétés affiliées.
                </div>
            </div>
        </div>
    </form>
</section>
<app-parent-register-email-skeleton
    *ngIf="loading && registrationStateStep.toString() == '0'"></app-parent-register-email-skeleton>

    <section class="w-full h-screen  flex justify-content-center mt-2"
    *ngIf="!loading && registrationStateStep.toString() == '2'">
    <form class="w-10 md:w-3 lg-w-3 xl:w-3" #passwordForm="ngForm" name="passwordForm"
        (ngSubmit)="passwordForm.form.valid && registerNewPassword()">
        <h1 class="text-center text-xl text-cyan-900  poppins-bold">Veuillez ajouter votre nouveau mot de passe.</h1>
        <div class="frm poppins-medium">
            <div class="w-full flex flex-column gap-4">
                <div class="flex flex-column gap-2">
                    <label class="text-sm" for="password">Mot de passe</label>
                    <p-password promptLabel="Entrez votre mot de passe" placeholder="Nouveau mot de passe"
                        [(ngModel)]="password" name="password" weakLabel="Trop simple" mediumLabel="Complexite normale"
                        strongLabel="Mots de pass complex" class="p-inputtext-sm" id="password"
                        [toggleMask]="true"></p-password>
                </div>
                <div class="flex flex-column gap-2">
                    <label class="text-sm" for="re-password">Confirmation</label>
                    <p-password placeholder="Confirmer votre mot de passe" [(ngModel)]="passwordConfirm"
                        name="passwordConfirm" [feedback]="false" class="p-inputtext-sm" id="password"
                        [toggleMask]="true"></p-password>
                </div>
                <button type="submit" size="small" pButton pRipple label="Continuer"
                    class="cursor-pointer p-button-success w-full bg-green-500 text-white"></button>
            </div>
        </div>
    </form>
</section>
<app-parent-password-skeleton
    *ngIf="loading && registrationStateStep.toString() == '2'"></app-parent-password-skeleton>

    <section class="w-full h-screen  flex justify-content-center mt-2"
    *ngIf="!loading && registrationStateStep.toString() == '3'">
    <form class="w-10 md:w-3 lg-w-3 xl:w-3" #aboutForm="ngForm" name="aboutForm"
        (ngSubmit)="aboutForm.form.valid && registerAboutInfo()">
        <h1 class="text-center text-xl text-cyan-900  poppins-bold">Veuillez remplir les informations suivants.</h1>
        <div class="frm poppins-medium">
            <div class="w-full flex flex-column gap-2">
                <div class="formgrid grid">
                    <div class="field col">
                        <label for="aname">Nom</label>
                        <input [(ngModel)]="name" name="aname" placeholder="votre nom" id="aname" type="text"
                            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                    </div>
                    <div class="field col">
                        <label for="familyName">Prénom</label>
                        <input [(ngModel)]="familyName" name="familyName" placeholder="votre prénom" id="familyName"
                            type="text"
                            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                    </div>
                </div>

                <div class="flex-auto">
                    <label for="birthDate" class=""> Date de naissance</label>
                    <p-calendar placeholder="votre date de naissance" dateFormat="dd.mm.yy" [(ngModel)]="birthDate"
                        name="birthDate" [iconDisplay]="'input'" [showIcon]="true" inputId="birthDate"></p-calendar>
                </div>
                <div class="flex-auto">
                    <label for="nickName" class=""> Nom d'utilisateur</label>
                    <input [(ngModel)]="nickName" name="nickName" placeholder="Nom utilisateur" id="nickName"
                        type="text"
                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                </div>

                <div class="flex flex-column mt-2">
                    <label for="sex" class=""> Choisissez votre sex:</label>
                    <p-dropdown placeholder="votre sexe" inputId="sex" [options]="sex" [(ngModel)]="selectedSex"
                        optionLabel="key" name="sexname" />
                </div>

                <div class="flex flex-column mt-2">
                    <label for="lang" class=""> Choisissez votre langue:</label>
                    <p-dropdown placeholder="votre langue maternelle" inputId="lang" [options]="languages"
                        [(ngModel)]="selectedlanguage" optionLabel="name" name="langname" />
                </div>
                <button type="submit" size="small" pButton pRipple label="Continuer"
                    class="mt-2 p-button-success w-full bg-green-500 text-white"></button>
            </div>
        </div>
    </form>
</section>
<app-parent-about-skeleton *ngIf="loading && registrationStateStep.toString() == '3'"></app-parent-about-skeleton>

<section class="w-full h-screen  flex justify-content-center mt-2"
*ngIf="!loading && registrationStateStep.toString() == '4'">
<form class="w-10 md:w-3 lg-w-3 xl:w-3" #passwordForm="ngForm" name="passwordForm"
    (ngSubmit)="passwordForm.form.valid && registerParentChild()">
    <h1 class="text-center text-xl text-cyan-900  poppins-bold"> Quelle est le nom complet de votre jeûne.</h1>
    <div class="frm poppins-medium">
        <div class="w-full flex flex-column gap-4">
            <div class="flex flex-column gap-2">
                <label class="text-sm" for="child-name">Nom</label>
                <input [(ngModel)]="childName" name="child-name" placeholder="Nom de votre jeûne" id="child-name" type="text"
                    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
            </div>
            <div class="flex flex-column gap-2">
                <label class="text-sm" for="re-password">Pénom</label>
                <input [(ngModel)]="childFamilyName" name="child-familyname" placeholder="Pénom de votre jeûne" id="child-familyname" type="text"
                    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
            </div>
            <button type="submit" size="small" pButton pRipple label="Continuer"
                class="cursor-pointer p-button-success w-full bg-green-500 text-white"></button>
        </div>
    </div>
</form>
</section>
<app-parent-child-skeleton
*ngIf="loading && registrationStateStep.toString() == '4'"></app-parent-child-skeleton>



<section class="w-full h-screen  flex justify-content-center mt-2"
    *ngIf="!loading && registrationStateStep.toString() == '5'">
    <form class="w-10 md:w-3 lg-w-3 xl:w-3" #schoolLevelForm="ngForm" name="schoolLevelForm"
        (ngSubmit)="schoolLevelForm.form.valid && registerEducationLevel()">
        <h1 class="text-center text-xl text-cyan-900  poppins-bold">A quel niveau scolaire est votre jeûne ?</h1>
        <div class="frm poppins-medium">
            <div class="w-full flex flex-column gap-4">
                <p-scrollPanel
                    class="card flex justify-content-center h-30rem border-1 pt-6 pb-6 border-gray-300 border-round-lg bg-gray-50">
                    <div class="flex flex-column gap-3">
                        <div *ngFor="let educationLevel of educationLevels" class="field-checkbox">
                            <p-radioButton [inputId]="educationLevel.Id" name="schoolLevel" [value]="educationLevel"
                                [(ngModel)]="selectedEducationLevel"></p-radioButton>
                            <label [for]="educationLevel.Id" class="ml-2">{{ educationLevel.Name }}</label>
                        </div>
                    </div>
                </p-scrollPanel>
                <button type="submit" size="small" pButton pRipple label="Continuer"
                    class="cursor-pointer p-button-success w-full bg-green-500 text-white"></button>

            </div>
        </div>
    </form>
</section>
<app-parent-education-level-skeleton
    *ngIf="loading && registrationStateStep.toString() == '5'"></app-parent-education-level-skeleton>

    <section class="w-full h-screen  flex justify-content-center mt-2"
    *ngIf="!loading && registrationStateStep.toString() == '6'">
    <form class="w-10 md:w-3 lg-w-3 xl:w-3" #subjectForm="ngForm" name="subjectForm"
        (ngSubmit)="subjectForm.form.valid && registerSubject()">
        <h1 class="text-center text-xl text-cyan-900  poppins-bold">Dans quelle matière avez vous besoin d'aide ?</h1>
        <div class="frm poppins-medium">
            <div class="w-full flex flex-column gap-4">
                <p-scrollPanel
                    class="card flex justify-content-center h-30rem border-1 pt-6 pb-6 border-gray-300 border-round-lg bg-gray-50">
                    <div class="flex flex-column gap-3">
                        <div *ngFor="let subject of subjects" class="pl-4 field-checkbox">
                            <p-radioButton [inputId]="subject.Id" name="category" [value]="subject"
                                [(ngModel)]="selectedSubject"></p-radioButton>
                            <label [for]="subject.Id" class="ml-2">{{ subject.Name }}</label>
                        </div>
                    </div>
                </p-scrollPanel>
                <button type="submit" size="small" pButton pRipple label="Continuer"
                    class="cursor-pointer p-button-success w-full bg-green-500 text-white"></button>
            </div>
        </div>
    </form>
</section>
<app-parent-subject-skeleton *ngIf="loading && registrationStateStep.toString() == '6'"></app-parent-subject-skeleton>

<section class="w-full h-screen  flex justify-content-center mt-2"
    *ngIf="!loading && registrationStateStep.toString() == '7'">
    <form class="w-10 md:w-3 lg-w-3 xl:w-3" #courseTypeForm="ngForm" name="courseTypeForm"
        (ngSubmit)="courseTypeForm.form.valid && registerCourseType()">
        <h1 class="text-center text-xl text-cyan-900  poppins-bold">Vous feriez des cours en ligne ou en présentiel ?
        </h1>
        <div class="frm poppins-medium">
            <div class="w-full flex flex-column gap-4">
                <div class="card w-full h-full pt-4 pb-4 border-2 border-gray-300 border-round-lg bg-gray-50 pl-4 pr-4">
                    <div class="flex flex-column gap-3 ">
                        <div *ngFor="let courseType of courseTypes" class="field-checkbox">
                            <p-radioButton [inputId]="courseType.key" name="category" [value]="courseType"
                                [(ngModel)]="selectedcourseType"></p-radioButton>
                            <div class="relative w-full">
                                <label [for]="courseType.key" class="ml-2">{{ courseType.name }}</label>
                                <label class="text-xs text-gray-400 mt-1 absolute w-full left-0 pl-2 pt-3">{{
                                    courseType.description }}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" size="small" pButton pRipple label="Continuer"
                    class="cursor-pointer p-button-success w-full bg-green-500 text-white"></button>
            </div>
        </div>
    </form>
</section>
<app-parent-course-type-skeleton
    *ngIf="loading && registrationStateStep.toString() == '7'"></app-parent-course-type-skeleton>


    <section  class="w-full h-screen  flex justify-content-center mt-2" *ngIf="!loading && registrationStateStep.toString() == '8'">
        <form class="w-10 md:w-3 lg-w-3 xl:w-3" #availabilityForm="ngForm" name="availabilityForm"
        (ngSubmit)="availabilityForm.form.valid && registerAvailability()">
            <h1 class="text-center text-xl text-cyan-900  poppins-bold">Quelles sont vos disponibilités pour la première rencontre avec le tuteur?</h1>
            <div class="poppins-medium">
                <div class="flex flex-column gap-2">
                    <div class=" ">
                        <p-calendar  [(ngModel)]="availability" class="overflow-x-hidden" name="availability"  [inline]="true" [showWeek]="true" [iconDisplay]="'input'" [showIcon]="true" inputId="icondisplay">
                        </p-calendar>
                    </div>
                    <button type="submit" size="small" pButton pRipple label="Continuer" class="cursor-pointer p-button-success w-full bg-green-500 text-white"></button>
                    
                </div>
            </div>
        </form>
    </section>
    
    
    <section  class="w-full h-screen flex justify-content-center mt-2" *ngIf="!loading && registrationStateStep.toString() == '9'">
        <div class="w-10 md:w-3 lg-w-3 xl:w-3" >
            <h1 class="text-center text-xl text-cyan-900  poppins-bold">Voici le meilleur tuteur pour convenir à vos besoins.</h1>
            <button routerLink="/pages/dashboard" size="small" pButton pRipple label="Naviguer vers le tableau de bord" class="mt-5 p-button-success w-full bg-green-500 text-white"></button>
        </div>
    </section>