<p-toast position="bottom-center" preventOpenDuplicates="true" />
<nav class="sm:h-4rem hidden md:block lg:block xl:block fixed w-full z-4">
    <div class="w-full h-full  bg-main-green flex justify-content-center">
        <div class="h-full w-10 flex flex-column md:flex-row lg:flex-row xl:flex-row justify-content-between">
            <section class="section-1 w-6  h-full flex justify-content-start align-items-center flex-row gap-2 ">
                <a (click)="onClickCend()"  *ngIf="!IsAuthenticating()" 
                    class="text-3xl poppins-bold font-semibold text-white p-1 cursor-pointer no-underline">
                    CEND
                </a>
                <span   *ngIf="IsAuthenticating()" 
                    class="text-3xl poppins-bold font-semibold text-white p-1 cursor-pointer no-underline">
                    CEND
                </span>
                <p>
                    <button
                        class="p-2 poppins-medium border-none bg-transparent text-white border-round-3xl font-medium text-sm cursor-pointer hover:bg-green-500 hover:border-round-3xl">
                        Apprenez avec CEND
                    </button>
                </p>
                <p>
                    <button
                        class="p-2 poppins-medium border-none bg-transparent text-white border-round-3xl font-medium text-sm cursor-pointer hover:bg-green-500 hover:border-round-3xl">
                        Tutorat
                    </button>
                </p>
               
                <p class="relative">
                    <button  (click)="onClickAboutButton(aboutMenu, $event)"
                    class="flex inline-flex gap-2 align-items-center p-2  poppins-medium border-none bg-transparent text-white border-round-3xl font-medium text-sm cursor-pointer hover:bg-green-500 hover:border-round-lg">
                    <span>À propos de nous</span>
                    <i *ngIf="!desktopMobileAboutMenu" class="pi pi-angle-down"></i>
                    <i *ngIf="desktopMobileAboutMenu" class="pi pi-angle-up"></i>
                   
                    <!-- <div *ngIf="desktopMobileAboutMenu" class="absolute bg-white shadow-3 w-20rem top-0 mt-6 border-round-md left-0">
                        <button  *ngFor="let aboutItem of aboutItems" (click)="onMavigateAboutItems(aboutItem.routerLink)"
                            class="w-full flex inline justify-content-between align-items-center text-lg poppins-regular text-gray-800 text-left w-full p-2 poppins-medium border-none bg-transparent  font-medium text-sm cursor-pointer hover:bg-green-500 ">
                            <span>{{aboutItem.label}}</span>
                            <i class="{{aboutItem.icon}}"></i>
                        </button>
                        
                        </div> -->
                </button>
                <p-tieredMenu #aboutMenu [model]="aboutItems" [popup]="true" class="absolute top-0 left-0 mt-6"></p-tieredMenu>
                </p>
            </section>
            <section class="section-1 w-6  h-full flex justify-content-end align-items-center flex-row gap-2">
                <p>
                    <button (click)="toggleLanguageMenu()"
                        class="flex flex-inline gap-2 relative p-2 poppins-medium border-none bg-transparent text-white border-round-3xl font-medium text-sm cursor-pointer hover:bg-green-500 hover:border-round-3xl">
                            <i class="pi pi-language p-1 text-sm bg-white text-green-500 border-circle"></i>
                        <span>
                            {{selectedLanguage.name}}-{{selectedLanguage.code}}
                        </span>
                        <div *ngIf="languagesMenu" class="absolute bg-white shadow-3 w-10rem top-0 mt-6 border-round-md left-0">
                        <button  *ngFor="let lg of languages" (click)="onChooseLanguage(lg)"
                            class="w-full flex inline justify-content-between align-items-center text-lg poppins-regular text-gray-800 text-left w-full p-2 poppins-medium border-none bg-transparent  font-medium text-sm cursor-pointer hover:bg-green-500 ">
                            {{lg.name}}-{{lg.code}}
                        </button>
                        
                        </div>
                        <!-- <p-tieredMenu class="w-10" #languageMenu [model]="languages" [popup]="true"></p-tieredMenu> -->
                    </button>
                </p>
                <p>
                    <button
                        class="p-2 poppins-medium border-none bg-transparent text-white border-round-3xl font-medium text-sm cursor-pointer hover:bg-green-500 hover:border-round-3xl">
                        Aide
                    </button>
                </p>
                <p *ngIf="!IsAuthentified() && !IsAuthenticating()">
                    <p-tieredMenu #loginMenu [model]="loginItems" [popup]="true"></p-tieredMenu>
                    <button (click)="loginMenu.toggle($event)" style="width: 130px;"
                        class="p-2 poppins-medium border-none bg-transparent text-white border-round-3xl font-medium text-sm cursor-pointer hover:bg-green-500 hover:border-round-lg">
                        Se connecter
                    </button>
                </p>
                <p *ngIf="!IsAuthentified() && !IsAuthenticating()">
                    <p-tieredMenu #registerMenu [model]="registerItems" [popup]="true"></p-tieredMenu>
                    <button (click)="registerMenu.toggle($event)" style="width: 130px;"
                        class="p-2 poppins-medium border-none bg-white text-green-600 border-round-3xl font-medium text-sm cursor-pointer hover:bg-green-500 hover:border-round-lg hover:text-white">
                        S'inscrire
                    </button>
                </p>
                <p *ngIf="IsAuthentified() && !IsAuthenticating()">
                    
                    <button (click)="onClickLogOut()" style="width: 130px;"
                        class="p-2 poppins-medium border-none bg-white text-green-600 border-round-3xl font-medium text-sm cursor-pointer hover:bg-green-500 hover:border-round-lg hover:text-white">
                        Se déconnecter
                    </button>
                </p>
            </section>
        </div>
    </div>
</nav>

<!-- <nav class="md:hidden lg:hidden xl:hidden h-3rem w-full fixed bg-green-600 z-5">
    <div class="w-full h-full flex justify-content-between align-items-center">
        <div class="w-2 h-full flex justify-content-start align-items-center absolute p-1 left-0">
            <a [routerLink]="landingNavigationDisabled ? null : ['/dashboard']"
                class="poppins-bold text-white p-1 text-xl no-underline mr-1">
                CEND
            </a>
        </div>
        <div *ngIf="!landingNavigationDisabled && !isDashboard" class="w-12 h-full justify-content-end flex align-items-center gap-1">
            <p-tieredMenu class="mobile-auth-buttons" #loginMobileMenu [model]="loginItems"
                [popup]="true"></p-tieredMenu>
            <p-tieredMenu class="mobile-auth-buttons" #registerMobileMenu [model]="registerItems"
                [popup]="true"></p-tieredMenu>
            <button *ForAuthentified="false" (click)="loginMobileMenu.toggle($event)"
                class="p-2 px-4 h-6 poppins-medium border-none bg-transparent text-white border-round-3xl font-medium text-sm cursor-pointer hover:bg-green-500 hover:border-round-lg hover:text-white">
                Se connecter
            </button>
            <button *ForAuthentified="false" (click)="registerMobileMenu.toggle($event)"
                class="hover:text-white mr-2 text-green-600 bg-white p-2 px-4 h-6 poppins-medium border-none border-round-3xl font-medium text-sm cursor-pointer hover:bg-green-500 hover:border-round-3xl">
                S'inscrire
            </button>
        </div>
        <div *ngIf="!landingNavigationDisabled && isDashboard" class="w-12 h-full justify-content-end flex align-items-center">
            
            <button routerLink="/pages/landing"
                class="focus:text-white mr-2 text-green-600 bg-white p-2 px-4 h-6 poppins-medium border-none border-round-3xl font-medium text-sm cursor-pointer hover:bg-green-500 hover:border-round-3xl">
                Se déconnecter
            </button>
        </div>
        <button *ngIf="!landingNavigationDisabled" (click)="onClickMobileMenu()"
            class="flex justify-content-center align-items-center  h-full bg-transparent border-none text-2xl mr-2">
            <i *ngIf="!showMobileMenu" class="pi pi-bars text-white  font-bold text-xl"></i>
            <i *ngIf="showMobileMenu" class="pi pi-times text-white  font-bold text-xl"></i>
        </button>
    </div>
</nav> -->
<nav class="md:hidden lg:hidden xl:hidden h-3rem w-full fixed bg-main-green z-5">
    <div class="w-full h-full flex justify-content-between align-items-center">
        
        <div class="w-2 h-full flex justify-content-start align-items-center absolute p-1 left-0">
            <a (click)="onClickCend()" *ngIf="!IsAuthenticating()" 
                class="poppins-bold text-white p-1 text-xl no-underline mr-1">
                CEND
            </a>
            <span *ngIf="IsAuthenticating()" 
                class="poppins-bold text-white p-1 text-xl no-underline mr-1">
                CEND
            </span>
        </div>

        <div class="w-full" *ngIf="!IsAuthentified() && !IsAuthenticating()">
            <div class="w-12 h-full justify-content-end flex align-items-center gap-1">
                <p-tieredMenu class="mobile-auth-buttons" #loginMobileMenu [model]="loginItems"
                    [popup]="true"></p-tieredMenu>
                <p-tieredMenu class="mobile-auth-buttons" #registerMobileMenu [model]="registerItems"
                    [popup]="true"></p-tieredMenu>
                <button  (click)="loginMobileMenu.toggle($event)"
                    class="p-2 px-4 h-6 poppins-medium border-none bg-transparent text-white border-round-3xl font-medium text-sm cursor-pointer hover:bg-green-500 hover:border-round-lg hover:text-white">
                    Se connecter
                </button>
                <button (click)="registerMobileMenu.toggle($event)" 
                    class="hover:text-white mr-2 text-green-600 bg-white p-2 px-4 h-6 poppins-medium border-none border-round-3xl font-medium text-sm cursor-pointer hover:bg-green-500 hover:border-round-3xl">
                    S'inscrire
                </button>
            </div>
        </div>
        

        <div  *ngIf="IsAuthentified() && !IsAuthenticating()"  class="w-12 h-full justify-content-end flex align-items-center">
            <button  (click)="onClickLogOut()"
                class="focus:text-white mr-2 text-green-600 bg-white p-2 px-4 h-6 poppins-medium border-none border-round-3xl font-medium text-sm cursor-pointer hover:bg-green-500 hover:border-round-3xl">
                Se déconnecter
            </button>
        </div>

        <button  *ngIf="!IsAuthenticating()" (click)="onClickMobileMenu()"  class="flex justify-content-end align-items-center  h-full bg-transparent border-none text-2xl mr-2">
            <i *ngIf="!showMobileMenu" class="pi pi-bars text-white  font-bold text-xl"></i>
            <i *ngIf="showMobileMenu" class="pi pi-times text-white  font-bold text-xl"></i>
        </button>
    </div>
</nav>
<section *ngIf="showMobileMenu" class="w-full flex flex-column bg-white shadow-2 py-3 fixed mt-6 z-5">
    <div class="w-12 h-2.5rem flex">
        <button
            class="text-lg poppins-regular text-gray-800  text-left w-full p-2 poppins-medium border-none bg-transparent font-medium text-sm cursor-pointer hover:bg-green-500 ">
            Apprenez avec CEND
        </button>
    </div>
    <div class="w-12 h-2.5rem flex">
        <button
            class="text-lg poppins-regular text-gray-800 text-left w-full p-2 poppins-medium border-none bg-transparent  font-medium text-sm cursor-pointer hover:bg-green-500 ">
            Tutorat
        </button>
    </div>
    <div class="w-12 h-2.5rem flex">
        <button (click)="onClickMobileAbourMenu()"
            class="text-lg poppins-regular  text-gray-800 flex inline align-items-center gap-3   text-left w-full p-2 poppins-medium border-none bg-transparent  font-medium text-sm cursor-pointer hover:bg-green-500 ">
            <span>À propos de nous</span>
            <i *ngIf="!showMobileAboutMenu" class="pi pi-angle-down"></i>
            <i *ngIf="showMobileAboutMenu" class="pi pi-angle-up"></i>
        </button>
    </div>
    <div class="w-full flex flex-column pl-4 pr-4" *ngIf="showMobileAboutMenu">
        <button *ngFor="let aboutItem of aboutItems" (click)="onClickLinks(aboutItem.routerLink, aboutItem.fragment)"
            class="w-full flex inline justify-content-between align-items-center text-lg poppins-regular text-gray-800 text-left w-full p-2 poppins-medium border-none bg-transparent  font-medium text-sm cursor-pointer hover:bg-green-500 ">
            <span>{{aboutItem.label}}</span>
            <i class="{{aboutItem.icon}}"></i>
        </button>
    </div>
    <div class="w-12 h-2.5rem flex">
        <button
            class="text-lg poppins-regular text-gray-800 text-left w-full p-2 poppins-medium border-none bg-transparent  font-medium text-sm cursor-pointer hover:bg-green-500 ">
            Aide
        </button>
    </div>
</section>



<nav class="md:hidden lg:hidden xl:hidden h-3rem w-full fixed bg-green-600 z-5" *ngIf="loadingService.changeEmitted$ | async">
    <div class="w-full h-full flex justify-content-between align-items-center">
        <div class="w-2 h-full flex justify-content-start align-items-center absolute p-1 left-0">
            <p-skeleton width="5rem" height="2rem" />
        </div>
        <div  class="mr-2 w-12 h-full justify-content-end flex align-items-center gap-2">
            <p-skeleton width="5rem" height="1rem" />
            <p-skeleton width="5rem" height="2rem" borderRadius="30px" />
        </div>
    </div>
</nav>

