<section  class="w-full h-screen  flex justify-content-center mt-2">
    <div class="w-10 md:w-3 lg-w-3 xl:w-3">
        <h1 class="text-center text-gray-600 poppins-bold">Veuillez-vous connecter à votre compte.</h1>
        <div class="frm poppins-medium">
            <div class="w-full flex flex-column gap-2">
                <div class="flex flex-column gap-2">
                    <label class="text-sm" for="email">E-mail</label>
                    <input  class="p-inputtext-sm" pInputText id="email" aria-describedby="email-help" />
                </div>

                <div class="flex flex-column gap-2">
                    <label class="text-sm" for="password">Mots de passe</label>
                    <input class="p-inputtext-sm" pInputText id="password" aria-describedby="password-help" />
                </div>
                <button size="small" pButton pRipple label="Continuer" class="cursor-pointer p-button-success w-full bg-green-500 text-white"></button>
                <p-divider align="center" class="text-gray-400 font-medium">
                    <span>Ou</span>
                    </p-divider>
                <button  class="cursor-pointer flex justify-content-between border-2 border-gray-200 border-round-md align-items-center w-full h-3rem bg-white text-white">
                    <p-image class="absolute" src="assets/image/google.svg" alt="Image" width="20"></p-image>
                    <div class="w-full text-gray-600 text-center">Continuer avec google</div>
                </button>
                <button  class="cursor-pointer flex justify-content-between border-2 border-gray-200 border-round-md align-items-center w-full h-3rem bg-white text-white">
                    <p-image class="absolute" src="assets/image/apple.svg" alt="Image" width="20"></p-image>
                    <div class="w-full text-gray-600 text-center">Continuer avec apple</div>
                </button>
                <button  class="cursor-pointer flex justify-content-between border-2 border-gray-200 border-round-md align-items-center w-full h-3rem bg-white text-white">
                    <p-image class="absolute" src="assets/image/fb.svg" alt="Image" width="20"></p-image>
                    <div class="w-full text-gray-600 text-center">Continuer avec facebook</div>
                </button>
                <button  class="cursor-pointer bg-blue-50 flex justify-content-between border-none border-round-md align-items-center w-full h-3rem">
                    <i class="text-gray-600  pi pi-qrcode"></i>
                    <div class="w-full  text-gray-600 text-center">Connectez-vous avec un qr-code</div>
                </button>
                <div class="text-xs text-gray-400 text-center mt-2">
                    En continuant, vous acceptz de recevoir au numéro fourni des appels, messages WhatsApp ou SMS, y compris de façon automatisée, de la part d'Uber et de ces sociétés affiliées.
                </div>
            </div>
        </div>
    </div>
</section>