<section  class="w-full h-screen  flex justify-content-center mt-2">
    <div class="w-10 md:w-3 lg-w-3 xl:w-3">
        <h1 class="flex flex-column justify-content-center align-items-center">
            <p-skeleton width="15rem" styleClass="mb-1"  height="1.5rem"></p-skeleton>
            <p-skeleton width="20rem" styleClass="mb-1"  height="1.5rem"></p-skeleton>
            <p-skeleton width="10rem" styleClass="mb-1"  height="1.5rem"></p-skeleton>
        </h1>
        <div class="frm poppins-medium">
            <div class="w-full flex flex-column gap-2">
                <div class="flex flex-column gap-2">
                    <label class="text-sm" for="email">
                        <p-skeleton width="5rem" styleClass="mb-0" height="1rem"></p-skeleton>
                    </label>
                    <p-skeleton width="100%" styleClass="mb-0" height="2.5rem"></p-skeleton>
                </div>
                <p-skeleton width="100%" styleClass="mb-0" height="3rem"></p-skeleton>
                <p-divider align="center" class="text-gray-400 font-medium">
                    <span> <p-skeleton width="2rem" styleClass="mb-0" height="1rem"></p-skeleton></span>
                </p-divider>
                    <p-skeleton width="100%" styleClass="mb-0" height="2.5rem"></p-skeleton>
                    <p-skeleton width="100%" styleClass="mb-0" height="2.5rem"></p-skeleton>
                    <p-skeleton width="100%" styleClass="mb-0" height="2.5rem"></p-skeleton>
                    <p-skeleton width="100%" styleClass="mb-0" height="2.5rem"></p-skeleton>
                <div class="text-xs text-gray-400 text-center mt-2">
                    <p-skeleton width="100%" styleClass="mb-1" height="0.5rem"></p-skeleton>
                    <p-skeleton width="75%" styleClass="mb-1" height="0.5rem"></p-skeleton>
                    <p-skeleton width="100%" styleClass="mb-1" height="0.5rem"></p-skeleton>
                </div>
            </div>
        </div>
    </div>
</section>
<app-loading></app-loading>