
/* FONT REGULAR */
@font-face {
    font-family: 'poppins-regular';
    src: url('./assets/fonts/poppins/Poppins-Regular.ttf');
}
.poppins-regular{
    font-family: 'poppins-regular';
}

/* FONT REGULAR */
@font-face {
    font-family: 'poppins-bold';
    src: url('./assets/fonts/poppins/Poppins-Bold.ttf');
}
.poppins-bold{
    font-family: 'poppins-bold';
}

/* FONT LIGHT */
@font-face {
    font-family: 'poppins-light';
    src: url('./assets/fonts/poppins/Poppins-Light.ttf');
}
.poppins-light{
    font-family: 'poppins-light';
}


/* FONT MEDIUM */
@font-face {
    font-family: 'poppins-medium';
    src: url('./assets/fonts/poppins/Poppins-Medium.ttf');
}
.poppins-medium{
    font-family: 'poppins-medium';
}


/* FONT ITALIC */
@font-face {
    font-family: 'poppins-italic';
    src: url('./assets/fonts/poppins/Poppins-Italic.ttf');
}
.poppins-italic{
    font-family: 'poppins-italic';
}