/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "./poppins-font.scss";
@import 'ngx-toastr/toastr';

$main-bg-color: #3A9B23;
$main-text-color: #3A9B23;

body{
    margin: 0px !important;
}
body{
    overflow-y: scroll;
}

// body::-webkit-scrollbar {
//     display: none;
//     scrollbar-width: 0;
// }
// body{
//    overflow-x: hidden !important;
// }
// // body{
// //     -ms-overflow-style: none;  /* IE and Edge */
// //     scrollbar-width: none;  /* Firefox */
// // }