$main-bg-color: #3A9B23;
$main-text-color: #3A9B23;
.bg-color-main{
   background-color: $main-bg-color;
   color: white;
}


::ng-deep{
    .p-password{
        width:  100%;
   }
    .p-password-input{
        width:  100%;
    }
    .p-dropdown{
        width: 100%;
    }
    .p-stepper-number{
        display: none;
    }
    .p-stepper-title{
        display: none;
    }
    .p-stepper-nav{
        display: none;
    }
    p-button{
        .p-button{
            width: 100%;
            border: none;
            background-color: transparent;
        }
    }

    .p-calendar{
        width:  100%;
    }
    $availability-calendar-width: 40%;
    .availability{
        p-calendar{
            width:  $availability-calendar-width;
            .p-calendar{
                width:  100%;
                .p-inputtext{
                    width:  100%;
                }
            }
        }
    }
    $tarification-calendar-width: 150px;
    .tarification{
        p-calendar{
            width:  $tarification-calendar-width;
            .p-calendar{
                width:  100%;
                .p-inputtext{
                    width:  100%;
                }
            }
        }
    }
}
